@using FFilms.Models;
@model MoonwalkViewModel

@foreach (var item in Model.MoonwalkModel)
{
    <p>@item.title_ru </p>
    
   // <iframe src="@item.iframe_url" width="610" height="370" frameborder="0" allowfullscreen></iframe>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <a href="@Url.Action("GetFilmById", "Films", new { filmId = item.kinopoisk_id, posterImg = item.posret })">
        <img src="@item.posret" width="100%" height="300px">
       </a>
   </div>
}

<h2>Films</h2>